<h1>Sheets</h1><br>
<table>
    <tbody>
        <tr>
            <td>.</td>
            <td>.</td>
            <td>スクリーン</td>
            <td>.</td>
            <td>.</td>
        </tr>
        <tr>
            <td>:-:</td>
            <td>:-:</td>
            <td>:-:</td>
            <td>:-:</td>
            <td>:-:</td>
        </tr>
        <% @sheets.each_slice(5) do |slice| %>
        <tr>
            <% slice.each do |sheet| -%>
            <td><%= sheet.row %>-<%= sheet.column %></td>
            <% end %>
        </tr>
        <% end %>

    </tbody>
</table>